<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/common.css">
</head>

<body>
    <div class="content">
        <header>
            <div class="header">

                <div class="header-nav warp flex-sb_ac">
                    <img src="../../public/image/icon-logo.png" alt="" class="icon-logo">
                    <div class="header-nav_list">
                        <ul>
                            <li class="fs-16">首页</li>
                            <li class="fs-16">成品展示</li>
                            <li class="fs-16">收费标准</li>
                            <li class="fs-16">关于我们</li>
                            <li class="fs-16">联系我们</li>

                        </ul>
                    </div>
                    <div class="header-nav_btn">
                        <div class="btn-login btn">登录</div>
                        <div class="btn-register btn">注册</div>
                    </div>
                </div>

                <div class="header-style warp">
                    <h1>乌拉拉工作室</h1>
                    <h4>联接产业发展要素/深度整合资源/发挥园区数据价值</h4>
                    <button>马上获取解决方案</button>

                </div>


            </div>

        </header>
        <section>
            <div class="advantage warp">
                <div class="advantage-wrap warp">
                    <div class="advantage-title">企业优势</div>
                    <div class="advantages  c-7e7e7e">卓越品牌，专业技术，与你共创更具竞争力的价值
                    </div>
                    <div class="advantage-flex flex-sb_ac">
                        <div class="advantage-border">
                            <img src="../../public/image/icon-trust.png" alt="" class="icon-advantage">
                            <p class="fs-18">值得信赖</p>
                            <p class="fs-14 c-7e7e7e">23年整装行业经验 为您保驾护航</p>
                        </div>
                        <div class="advantage-border">
                            <img src="../../public/image/icon-convenient.png" alt="" class="icon-advantage">
                            <p class="fs-18">便捷高效</p>
                            <p class="fs-14 c-7e7e7e">优化业务流程 实现便捷高效</p>
                        </div>
                        <div class="advantage-border">
                            <img src="../../public/image/icon-team.png" alt="" class="icon-advantage">
                            <p class="fs-18">专业团队</p>
                            <p class="fs-14  c-7e7e7e">专业高效 协同合作</p>
                        </div>
                        <div class="advantage-border">
                            <img src="../../public/image/icon-quality.png" alt="" class="icon-advantage">
                            <p class="fs-18">至臻品质</p>
                            <p class="fs-14 c-7e7e7e">专业系统</p>
                        </div>
                        <div class="advantage-border">
                            <img src="../../public/image/icon-sale.png" alt="" class="icon-advantage">
                            <p class="fs-18">无忧售后</p>
                            <p class="fs-14 c-7e7e7e">只为让你省心 放心</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="customer-distribution">
                <div class="customer-distribution_border warp">
                    <img src="../../public/image/icon-map.jpg" alt="" class="icon-map_img">
                </div>

            </div>
            <div class="work-flow">
                <div class="work-flow_border warp">
                    <div class="advantage-title">工作流程</div>
                    <div class="advantages  c-7e7e7e">专业团队跟踪管理，高效协作为您解忧</div>
                    <img src="../../public/image/work-flow.png" alt="" class="work-flow_img">
                </div>

            </div>
            <div class="cooperation">
                <div class="cooperation-border warp">
                    <img src="../../public/image/cooperation.png" alt="" class="cooperation-img">
                </div>

            </div>

        
        </section>

        <footer>
            <div class="footer">
                <div class="company-details warp">
                    <div class="footer-flex">
                        <p class="fs-18">解决方案</p>
                        <div class="fs-16 mt-20">集团网站解决方案</div>
                        <div class="fs-16 mt-20">房地产行业解决方案</div>
                        <div class="fs-16 mt-20">工业制造业解决方案</div>
                        <div class="fs-16 mt-20">高校高职解决方案</div>
                        <div class="fs-16 mt-20">科技企业解决方案</div>
                    </div>
                    <div class="footer-flex">
                        <p class="fs-18">产品介绍</p>
                        <div class="fs-16 mt-20">CMSONE</div>
                        <div class="fs-16 mt-20">站群管理系统</div>
                    </div>
                    <div class="footer-flex">
                        <p class="fs-18">合作案例</p>
                        <div class="fs-16 mt-20">网站建设</div>
                        <div class="fs-16 mt-20">行业平台</div>
                    </div>
                    <div class="footer-flex">
                        <p class="fs-18">联系我们</p>
                        <div class="fs-16 mt-20">电话:18838261211</div>
                        <div class="fs-16 mt-20">固话:0371-55370629</div>
                        <div class="fs-16 mt-20">中国·河南省郑州市高新区863软件园</div>
                        <div class="code-border">
                            <img src="../../public/image/icon-code.png" alt="" class="icon-code">
                            <div class="code-font">
                                <div class="fs-16">关注网络公众号</div>
                                <div class="fs-16">扫一扫</div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </footer>

    </div>
























    <script src="./home.js"></script>
</body>

</html>