<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../public/css/common.css">
  <link rel="stylesheet" href="../../public/css/artifact.css">
</head>
<body>
    <div class="warp artifact">
      <div class="tabs mtb-20 flex fs-16">
        <div class="item flex-jc_ac checked">全部</div>
        <div class="item flex-jc_ac">网站建设</div>
        <div class="item flex-jc_ac">行业平台</div>
      </div>
      <div class="artifact-container  flex-sb flex-wrap">
        <div class="item flex">
          <img src="../../public/image/artifact-investment.jpg" alt="" class="artifact-item_banner">
          <div class="title">
            河南投资集团官网<span class="mlr-3">|</span>企业如何实现数字化升级
          </div>
          <div class="content">
            河南投资集团系省政府投融资主体、省属功能类重点骨干企业，由省政府授权省财政厅履行出资人职责。2017年...
          </div>
        </div>
        <div class="item flex">
          <img src="../../public/image/artifact-telecom.jpg" alt="" class="artifact-item_banner">
          <div class="title">
            豫信电科网站<span class="mlr-3">|</span>数字中原，智慧河南
          </div>
          <div class="content">
            豫信电科是河南省政府发展电子信息产业的功能性公司、省管一级骨干企业，由省政府授权省政府国资委履行出...
          </div>
        </div>
        <div class="item flex">
          <img src="../../public/image/artifact-yutong.jpg" alt="" class="artifact-item_banner">
          <div class="title">
            宇通客车<span class="mlr-3">|</span>营销+服务型网站如何制作
          </div>
          <div class="content">
            宇通客车是中国客车行业上市公司(SH.600066)，集客车产品研发、制造与销售为一体，产品主要服务于公交、...     
          </div>
        </div>
        <div class="item flex">
          <img src="../../public/image/artifact-greencapitalproperty.jpg" alt="" class="artifact-item_banner">
          <div class="title">
            绿都案例分享<span class="mlr-3">|</span>品牌形象如何蜕变？
          </div>
          <div class="content">
            绿都智慧服务（原名绿都物业）是绿都地产集团旗下一家专业从事物业管理的国家一级资质企业。公司成立于20...
          </div>
        </div>
        <div class="item flex">
          <img src="../../public/image/artifact-panyi.jpg" alt="" class="artifact-item_banner">
          <div class="title">
            盘毅动力<span class="mlr-3">|</span>营销型品牌官网案例展示
          </div>
          <div class="content">
            上海盘毂动力科技股份有限公司（以下简称盘毂动力）是一家注册在中国境内，由新能源领域资深合伙人创立的...
          </div>
        </div>
        <div class="item flex">
          <img src="../../public/image/artifact-xindongrun.jpg" alt="" class="artifact-item_banner">
          <div class="title">
            新东润<span class="mlr-3">|</span>地产行业品牌营销网站
          </div>
          <div class="content">
            河南新东润实业集团，是一家长期专注于产业地产及复合社区开发的新生活方式运营商。2004年成立，秉承“在...
        
          </div>
        </div>
        <div class="item flex">
          <img src="../../public/image/artifact-nantaihang.jpg" alt="" class="artifact-item_banner">
          <div class="title">
            南太行品牌网站建设
          </div>
          <div class="content">
            《中国国家地理》说过："太行山，把最美的一段给了河南!"南太行旅游度假区面积268平方公里，年接待量470...
          </div>
        </div>
        <div class="item flex">
          <img src="../../public/image/artifact-henanguanwang.jpg" alt="" class="artifact-item_banner">
          <div class="title">
            河南管网<span class="mlr-3">|</span>品牌官网案例展示
          </div>
          <div class="content">
            为贯彻落实河南省委省政府天然气发展战略部署，按照《河南省中长期天然气管网规划纲要(2020-2035年)》要...
          </div>
        </div>
        <div class="item flex">
          <img src="../../public/image/artifact-luoyangzhoucheng.jpg" alt="" class="artifact-item_banner">
          <div class="title">
            洛阳轴承英文品牌官网建设
          </div>
          <div class="content">
            河南投资集团系省政府投融资主体、省属功能类重点骨干企业，由省政府授权省财政厅履行出资人职责。2017年...
          </div>
        </div>
      </div>
    </div>
</body>
</html>