<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/about.css">
  <link rel="stylesheet" href="../public/css/common.css">
</head>
<body>
  <header>
    <div class="warp">
        <h1 class="cl-fff">关于我们</h1>
        <button class="mt-20"><img src="../public/image/icon-online.png" class="icon" alt=""><span class="ml-10">在线咨询</span></button>
      </div>
  </header>
  <section>
    <div class="warp">
      <div class="box">
        <h1>公司介绍</h1>
        <div class="box-bot mt-10"></div>
        <h5 class="mt-20">乌拉拉团队拥有丰富的汽车行业经验，为籍用车直头企业福出、专用车领先企业中集、省工行业际杆企业出沃重工、忻用殷份等企业耀供解决方案。</h5>
        <h5 class="mt-10">件与抛较中国，万达信息等企业进行深安合作。</h5>
        <div class="enterprise mt-50">
          <div class="enterprise-item">
            <div class="flex-jc_ac">
              <h1>200</h1>
              <span>+家</span>
            </div>
            <span class="fs-14 fw-700">合作企业</span>
          </div>
          <div class="enterprise-item">
            <div class="flex-jc_ac">
              <h1>200</h1>
              <span>+家</span>
            </div>
            <span class="fs-14 fw-700">合作企业</span>
          </div>
          <div class="enterprise-item">
            <div class="flex-jc_ac">
              <h1>200</h1>
              <span>+家</span>
            </div>
            <span class="fs-14 fw-700">合作企业</span>
          </div>
        </div>
        <div class="mt-50">
          <img src="../public/image/img-bg2.png" class="img-bg" alt="">
        </div>
        <h1 class="mt-50">我们的资质</h1>
        <h5 class="mt-20">我们致力于技术和应用的最佳结合，拥有35项软件著作权</h5>
        <div class="certificate mtb-50">
          <div class="certificate-item">
            <img src="https://cms.internetyu.com/res/template/pc/resource/images/about/b3-item1.png" class="img-certificate" alt="">
            <span>高新技术企业证书</span>
          </div>
          <div class="certificate-item">
            <img src="	https://cms.internetyu.com/res/template/pc/resource/images/about/b3-item2.png" class="img-certificate" alt="">
            <span>企业信用评价证书</span>
          </div>
          <div class="certificate-item">
            <img src="	https://cms.internetyu.com/res/template/pc/resource/images/about/b3-item3.png" class="img-certificate" alt="">
            <span>软件企业认定证书</span>
          </div>
          <div class="certificate-item">
            <img src="	https://cms.internetyu.com/res/template/pc/resource/images/about/b3-item4.png" class="img-certificate" alt="">
            <span>河南省电子商务企业证书</span>
          </div>
          <div class="certificate-item">
            <img src="	https://cms.internetyu.com/res/template/pc/resource/images/about/b3-item5.png" class="img-certificate" alt="">
            <span>软件著作权证书</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>