<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/fees.css">
    <link rel="stylesheet" href="../../public/css/common.css">
</head>

<body>
    <div class="fees">
        <div class="warp fees-content">
            <div class="c-ffffff fs-35">收费标准及价格</div>
            <div class="c-ffffff fs-35">...</div>
        </div>
    </div>
    <div class="contain">
        <div class="specifications warp">
            <div class="price-grade">
                <div class="grade">白银级</div>
                <div class="price  bd-bottom_888888">99999元</div>
                <div class="personnel  bd-bottom_888888">人员3-4人</div>
                <div class="time bd-bottom_888888">项目时长2-3个月</div>
                <div class="recommend">推荐适合完成小型项目的企业</div>
            </div>
            <div class="price-grade">
                <div class="grade">黄金级</div>
                <div class="price bd-bottom_888888">999999元</div>
                <div class="personnel bd-bottom_888888">人员10-20人</div>
                <div class="time bd-bottom_888888">项目时长5-10个月</div>
                <div class="recommend">推荐适合完成中型项目的企业</div>
            </div>
            <div class="price-grade">
                <div class="grade">荣耀级</div>
                <div class="price bd-bottom_888888">9999999元</div>
                <div class="personnel bd-bottom_888888">人员20-30人</div>
                <div class="time bd-bottom_888888">项目时长1-2年</div>
                <div class="recommend ">推荐适合完成大型项目的企业，项目完成后会定期安排人员进行检查卫辉</div>
            </div>
            <div class="price-grade">
                <div class="grade">至尊级</div>
                <div class="price bd-bottom_888888">99999999元</div>
                <div class="personnel bd-bottom_888888">人员30-40人</div>
                <div class="time bd-bottom_888888">项目时长2年以上</div>
                <div class="recommend">推荐适合完成超大型项目的企业，项目完成后会安排专门人员进行维护</div>
            </div>


        </div>
    </div>

    </div>


</body>

</html>