<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/contact.css">
    <link rel="stylesheet" href="../../public/css/common.css">
</head>

<body>
    <div class="top warp"> </div>
    <div class="contact fs-35 warp">联系我们</div>
    <div class="warp contain">
        <div class="content">
            <img src="../../public/image/icon-commerce.png" alt="" class="icon-img">
            <div class="centent-text">商务合作</div>
            <div class="cell-phone">18888888888</div>
        </div>
        <div class="content">
            <img src="../../public/image/icon-consult.png" alt="" class="icon-img">
            <div class="centent-text">技术咨询</div>
            <div class="cell-phone">0155-55555555</div>
        </div>
        <div class="content">
            <img src="../../public/image/icon-email.png" alt="" class="icon-img">
            <div class="centent-text">联系邮箱</div>
            <div class="cell-phone">cdsvdvfdzvz@qq.com</div>
        </div>
        <div class="content">
            <img src="../../public/image/icon-address.png" alt="" class="icon-img">
            <div class="centent-text">公司地址</div>
            <div class="cell-phone">xxx省xxx市xxx县xxxxxxx</div>
        </div>
    </div>
    <div class="warp navigation ">
        <div class="navigation-content">
            一键导航<img src="../../public/image/icon-arrow_blue.png" alt="" srcset="" class="icon-arrow_blue">
        </div>
    </div>
    </div>
</body>

</html>