<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/register.css">
  <link rel="stylesheet" href="../public/css/common.css">
</head>

<body>
  <div class="box">
    <div class="box-h1">
      <h1>乌拉拉前端工作平台</h1>
    </div>
    <div class="box-login">
      <h4>欢迎注册系统</h4>
      <div class="login-bot mt-10"></div>
      <div class="box-ipt mt-30">
        <div class="img-ipt">
          <img src="../public/image/icon-user.png" alt="">
        </div>
        <input type="text" placeholder="请输入用户名或账号">
      </div>
      <div class="box-ipt mt-30">
        <div class="img-ipt">
          <img src="../public/image/icon-pwd.png" alt="">
        </div>
        <input type="text" placeholder="请输入密码">
      </div>
      <div class="box-ipt mt-30">
        <div class="img-ipt">
          <img src="../public/image/icon-pwd.png" alt="">
        </div>
        <input type="text" placeholder="请确认密码">
      </div>
      <div class="box-ipt mt-30">
        <div class="img-ipt">
          <img src="../public/image/icon-iphone.png" alt="">
        </div>
        <input type="text" placeholder="请输入手机号">
      </div>
      <div class="box-checkbox mt-20">
        <div class="flex-jc_ac">
          <span>已有账号去登录</span>
          <img src="../public/image/icon-arrow_right.png" class="icon" alt="">
        </div>
      </div>
      <button class="mt-20">注册</button>
      <div class="txt mt-20">—————— 乌拉拉前端工作室 ——————</div>
    </div>
  </div>
</body>

</html>